@use "./Variables" as *;

.footer {
  width: 100%;
  padding: 10px 20px;
  background-color: $second-color;
  position: fixed;
  bottom: 0;
  left: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-size: $font-size-small;
    color: $text-color-dark;
  }

  &__version {
    font-size: $font-size-small;
    color: $text-color-dark;
    padding-right: 40px;
  }
}
