.search {
  width: 45%;
  margin-bottom: 15px;

  &__box {
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin: 0 auto;
    padding: 5px 40px 5px 15px;
    border-radius: 25px;
    width: 100%;
    // max-width: 750px;
  }

  &__input {
    width: 100%;
    padding: 8px 16px 8px 40px;
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    transition: border-color 0.2s ease;
    background: transparent;

    &-small {
      width: 100%;
      padding: 8px 16px 8px 40px;
      font-size: 16px;
      border: 0;
      border-radius: 25px;
      outline: none;
      box-shadow: none;
      transition: border-color 0.2s ease;
      background: transparent;
    }
  }

  &__icon {
    position: absolute;
    top: 55%;
    left: 16px;
    transform: translateY(-50%);
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;

    svg {
      fill: #999999;
    }
  }

  &__button-clear {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    color: #999999;
  }
}

// Small viewports
@media (max-width: 768px) {
  .search {
    width: 75%;
    margin-bottom: 0;
  }
  .search__box {
    padding: 0 40px 0 15px;
  }
}
