$font-family: Arial, sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-tall: 18px;

$primary-color: #ffffff;
$second-color: #f2f2f2;

$gray-dark-color: #999999;
$gray-light-color: #f2f2f2;

$text-color-main: #5f6368;
$text-color-dark: #555555;
$text-color-link: #2822b5;

$border-color-light: #ebedef;
$border-color-dark: #e2e3e7;

$modal-background-color: rgba(0, 0, 0, 0.5);
$box-shadow-background-color: rgba(0, 0, 0, 0.1);
